<div class="mdl-layout mdl-js-layout bg-login">
	<main class="mdl-layout__content" style="padding: 24px;flex:none;background-color:transparent">
		<div class="mdl-card mdl-shadow--6dp">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white" style="justify-content:center">
				<img src="./assets/images/logoSmall.png" />
			</div>
			<div class="mdl-card__supporting-text">
				<form ng-submit="vm.login()" name="form">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input ng-model="vm.username" name="username" required class="mdl-textfield__input" type="text" id="username" />
						<label class="mdl-textfield__label" for="username">Username</label>
					</div>
					<span ng-show="form.username.$touched && form.username.$error.required" style="color:#F44336;margin-top:-15px;position:absolute">username is required</span>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input ng-model="vm.password" name="password" required class="mdl-textfield__input" type="password" id="userpass" />
						<label class="mdl-textfield__label" for="userpass">Password</label>
					</div>
					<span ng-show="form.password.$touched && form.password.$error.required" style="color:#F44336;margin-top:-15px;position:absolute">password is required</span>
					<center>
						<strong><span ng-show="vm.isError" style="color:red;font-size:12px">{{vm.error}}</span></strong>
						<!-- MDL Progress Bar with Indeterminate Progress -->
						<div id="progressBar" ng-if="(vm.error == null && vm.barShow)" style="width:auto" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
					</center>
					<br/>
					<!-- Accent-colored raised button with ripple -->
					<button style="width:100%;margin-top:5px" type="submit" ng-click="vm.barShow = true && form.$valid" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
						Login
					</button>
				</form>
			</div>
		</div>
	</main>
	<p class="app-title">Back Office System v1.0</p>
</div>
