@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

main {
  padding: 20px;
  background: #fafafa;
}

.navigation-header{

}

.navigation-user-profile{
  padding:20px;
  background: url('/assets/images/profile-bg.png') no-repeat;
  height:50px;

}

.navigation-user-profile span{
  display:inline-block;
  vertical-align:middle;
  padding-left:5px;
}

.logo-header{
  height:48px;
  width:auto;
  padding:20px;
}

.logo-header img{
  max-width:100%;
}

.user-image{
  height:48px;
  width:48px;
  display:inline-block;
}

.menu-icon{
  margin-right:20px;
}

/* MODAL DIALOG STYLING */
.modal-box
{
  /*margin: 0 auto;
  width: auto;*/
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
  position: relative;
  align-self: center;
  z-index:2;
}

@media screen and (max-width: 761px)
{
  .modal-box
  {
    width: 20%;
    padding: 30px;
  }
}

.modal-backdrop
{
 position: fixed;
 top: 0px;
 left: 0px;
 height:100%;
 width:100%;
 background: #000;
 z-index: 1;
 opacity: 0.5!important;
 display:none;
}

.modal-holder
{
  display: flex;
  justify-content: center;
  background: transparent;
  margin-top: 20px;
  top:0;
  z-index: 3;
  position:absolute;
  width:95%;
}
/* ./ END MODAL DIALOG STYLING */

/** PAGINATION STYLING **/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination>li {
  display: inline;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: rgb(255,112,67);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  
  color: #fff;
  cursor: default;
  background-color: rgb(255,112,67);
  border-color: rgb(255,112,67);
}
/** ./ END PAGINATION STYLING **/

/** PAGE TRANSITION STYLING **/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5!important;
  }
}
[ui-view].ng-leave {
  animation: zoomOut 0.5s; 
}

[ui-view].ng-enter {
  animation: fadeIn 0.5s;
}

/** INPUT FILE STYLING **/
.mdl-file .mdl-textfield__input[type=text] {
  box-sizing: border-box;
  width: calc(100% - 32px)
}

.mdl-file .mdl-button {
  right: 0
}

.mdl-file .mdl-button input[type=file] {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4
}

.bg-login{
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/md-12.png');
}

.app-title{
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 0;
  margin-left: 25px;
  font-weight: bold;
}