<div class="mdl-grid" style="padding:0px">
 <div class="mdl-cell mdl-cell--6-col">
  <form ng-submit="vm.addToCart()">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <select class="mdl-textfield__input" id="productTerms">
        <option selected>Product Group</option>
        <option>Single Product</option>
      </select>
      <label class="mdl-textfield__label" for="productTerms">Product Terms</label>
    </div>
    <br/>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-focused">
      <input class="mdl-textfield__input" ng-model="vm.discount" type="text" id="discount" >
      <label class="mdl-textfield__label" for="discount">Product Code</label>
    </div>
    <br/>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="addBtn">Add</button>
  </form>
</div>
</div>

<br/>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%">
  <thead>
    <tr>
      <th>Product Code</th>
      <th>Product Name</th>
      <th>Brand</th>
      <th>Price</th>
     <!--  <th>Lot Price</th> -->
      <th>Qty</th>
      <th>Subtotal</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cartItem in vm.cart track by $index">
      <td>{{cartItem.product.productCode}}</td>
      <td>{{cartItem.product.productName}}</td>
      <td>{{cartItem.product.brand.brandName}}</td>
      <td>{{cartItem.sellPrice | currency: ""}}</td>
      <!-- <td>{{cartItem.product.lotPrice | currency: ""}}</td> -->
      <td><input min="0" type="number" ng-model="cartItem.qty" ng-change="vm.changeQty(cartItem,$index)" class="mdl-textfield__input"></td>
      <td><span ng-bind="cartItem.subtotal = cartItem.sellPrice * cartItem.qty;cartItem.subtotal | currency:''"></span></td>
      <td style="padding-top:8px"><button id="deleteBtn" ng-click="vm.remove($index)" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent"><i class="material-icons" style="font-size:18px">clear</i></button></td>
    </tr>
    <tr>
      <td><h5>Total</h5></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><h5 ng-model="vm.total">{{vm.getTotal() | currency:""}}</h5></td>
    </tr>
  </tbody>
</table>
<br/>
<div class="mdl-grid" style="padding:0px">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-focused">
      <input class="mdl-textfield__input" ng-model="vm.discount" type="text" id="discount" >
      <label class="mdl-textfield__label" for="discount">Discount</label>
    </div>
  </div>
</div>


<button ng-click="vm.save()" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="doneBtn">Save</button>&nbsp;<button style="margin-left:20px" ng-click="vm.change = 0" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Refresh</button>