<div class="modal-backdrop animated fadeIn" id="backdrop"></div>
<div class="modal-holder" autoscroll="false" id="modalHolder">

	<div class="modal-box">
		<div class="mdl-card__title mdl-color--primary">
			<h2 class="mdl-card__title-text mdl-color-text--white">Create/Edit Brand</h2>
		</div>
		<form id="dialog-form" ng-submit="vm.save()">
			<div class="mdl-grid" style="padding:0px">
				<div class="mdl-cell mdl-cell--12-col">
					<div ng-class="vm.isEdit()">
						<input class="mdl-textfield__input" disabled ng-model="vm.brand.id" type="text" id="brandId">
						<label class="mdl-textfield__label" for="brandId">ID</label>
					</div>
				</div>
			</div>
			<div class="mdl-grid" style="padding:0px">
				<div class="mdl-cell mdl-cell--12-col">
					<div ng-class="vm.isEdit()">
						<input class="mdl-textfield__input" required ng-model="vm.brand.brandName" type="text" required id="brandName">
						<label class="mdl-textfield__label" for="brandName">Brand Name</label>
					</div>
				</div>
			</div>
			
			<div class=".mdl-card__actions">
				<button type="submit" class="mdl-button mdl-js-button mdl-button--accent save">Save</button>
				<button type="button" class="mdl-button mdl-js-button mdl-button--accent close" ng-click="vm.brand = null">Cancel</button>
			</div>
		</form>
	</div>

</div>



